<footer class="footer">

       
    <div class="footer-conteiner">
      <div class="contato-creditos">
     
        Feito por Paloma Franco <br />
        
      </div>
      <section class="container-footer">
      <div class="icons">
        <div class="links links1">
          <a href="https://github.com/palomafcode" target="_blank">
            <img
              class="transparente"
              src="/images/gitcon.png"
              alt="github-icon"
            />
            
          </a>
        </div>
        <div class="links links2">
            <a
              href="https://www.linkedin.com/in/paloma-franco-villas-boas-2382a696//"
              target="_blank">
              <img
                class="transparente"
                src="/images/link.png"
                alt="linkdin-icon"
              />
            </a>
          </div>
        <div class="column">
            <h5>Social</h5><br>
            <ul type="none">
                <li><i class='bx bx-envelope'></i>(19) 3209-1345</li>
                <li><i class='bx bxl-whatsapp'></i>(19) 99866-3456</li>
                <li><i class='bx bx-envelope'></i>sac@avalon.com.br</li>
                <li>De segunda a sexta-feira, das</li>
                <li>8 ás 17h(exceto feriados)</li>
            </ul>
          
        </div>
        <div class="column">
            <h5>Menu</h5><br>
            <ul type="none">
                <li>Quem Somos</li>
                <li>Serviços</li>
                
            </ul>
        </div>
     
    </div>
      </div>
    </section>
  </footer>