<footer>
    <section class="footer">
        <section class="container-footer">
            <!-- <div class="column" id="logo2">
                <img id="logo2" src="/images//logopreto.png" alt="">
            </div> -->
  
            <div class="column">
                <h5>Privacidade e Termos</h5><br>
               
            </div>
  
            <div class="column">
                <h5>Fale Conosco</h5><br>
                <ul type="none">
                    <li><i class='bx bx-envelope'></i>(19) 3209-1345</li>
                    <li><i class='bx bxl-whatsapp'></i>(19) 99866-3456</li>
                    <li><i class='bx bx-envelope'></i>betapro@sac.com.br</li>
                    <li>De segunda a sexta-feira, das</li>
                    <li>8 ás 17h(exceto feriados)</li>
                </ul>
            </div>
            <div class="column">
                <h5>Mapa do Site</h5><br>
                <ul type="none">
                    <li>Quem Somos</li>
                  
                    <li>Fale Conosco</li>
                </ul>
            </div>
            <div class="column">
                <h5>Formas de pagamento</h5><br>
                <a href=""><img class="cards" src="/images//cards-transparent.png" alt=""></a>
  
            </div>
            <div class="column" id="redes-sociais">
                <h5>Redes Sociais</h5><br>
                <nav>
                    <a href=""><img height="15rem" src="/images//instagram 1.png" alt=""></a>
                    <a href=""><img height="15rem" src="/images//google-plus-g 1.png" alt=""></a>
                    <a href=""><img height="15rem" src="/images//facebook-f 1.png" alt=""></a>
                    <a href=""><img height="15rem" src="/images//linkedin-in 1.png" alt=""></a>
                </nav>
            </div>
        </section>
        <section class="autores">
            <nav>
                <ul type="none">
                    <p>Desenvolvido por</p>
                  
                    <li> <a href="https://www.linkedin.com/in/paloma-franco-villas-boas-2382a696/"> Paloma</a> </li>
                </ul>
            </nav>
        </section>
        <section>
  </footer>
  
  </body>
  
  </html>
  