<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/navegacao-inicio.css" />
    <!-- Sobre mim -->
    <link rel="stylesheet" href="/stylesheets/sobre-mim.css" />
    <!-- Projetos -->
    <link rel="stylesheet" href="/stylesheets/projetos.css" />
    <!-- Habilidades -->
    <link rel="stylesheet" href="/stylesheets/habilidades.css" />
    <!-- footer -->
    <link rel="stylesheet" href="/stylesheets/footer.css" />
  <title>beta pro | creators</title>

</head>
