<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/stylesheets/button.css">
   
    <!-- <script src="/javascripts/menuHamburguer.js" defer></script>
    <script src="/javascripts/carrinhoFlutuante.js" defer></script>
    <script src="/javascripts/script.js" defer></script>
    <script src="/javascripts/validacoeslogin.js" defer></script> -->
<title>Home</title>
</head>
<body>
<header>
<section class="container-header ">

<div class="header-icons">
<a href="/" class="logo"><img id="logo" src="/images/logobeta.png" alt=""></a>
            </div>
           
             
        </section>

        <section class="navegacao header2">
            <nav class="lista">
                <ul type="none">
                    <li> <a href="/"> INÍCIO</a> </li>
                    <li> <a href="/produto/todos"> SERVIÇOS</a> </li>
                    <li> <a href="#"> QUEM SOMOS</a> </li>
                    <li> <a href="#"> FALE CONOSCO</a> </li>
                </ul>
            </nav>
          </header>
