<%- include('partials/header') %>

<main>
     <img src="/images/background1.png" alt="background1">
  <body onload="typeWriter(fName);">
    <div>
      <!-- menu -->
      <input
        id="close-menu"
        class="close-menu"
        type="checkbox"
        aria-label="close-menu"
        role="button"
      />
      <label
        class="close-menu-label"
        for="close-menu"
        title="close menu"
      ></label>
      <div class="barra">
        <div class="menu-centro">
          <div class="barra-conteiner centralizador">
            <div class="logoesquerda">

            <img src="/images/Coluna - Logo.png" alt="logo">
               
             
            </div>
            <nav class="direita">
              <ul onclick="getElementById('close-menu').checked=false;">
                <div class=" barrainicio">
                <li><a href="#inicio">Sobre Nós</a></li>
                <li><a href="#sobre-mim">Serviços</a></li>
                <li><a href="#projetos">Cases</a></li>
                <li><a href="#habilidades">#vemprabeta</a></li>
            </div>
              </ul>
              <div class="faleconosco">
              <button>fale conosco</button>
            </div>
            </nav>
          </div>
        </div>
      </div>
      <!-- menu -->

      <!-- primeira tela -->
      <section id="inicio">
        <div class="altura-ajuste">
          <div class="inicio centralizador">
            <div class="ajustador organizador">
              <div class="apresentacao">
              <div class="oportunidades">
                <h4>Transformando ações </h4>
                    <h5>em oportunidades</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                         elit, sed do eiusmod tempor incididunt ut
                          labore et dolore magna aliqua.Ut enim 
                          ad minim veniam, quis nostrudexercitation.</p>
              </div>
              <div class="notebooks">
              <img src="/images/Coluna - imagens.png" alt="background2">
            </div>
                <div class="linkedin">
                    
                  <a
                    href="https://www.linkedin.com/in/paloma-franco-villas-boas-2382a696/"
                    target="_blank"
                    class="link"
                    >Saiba mais</a
                  >
                </div>
              </div>
              <div class="background2">
                <img src="/images/background2.png" alt="background2">
                <div class="ajustador-2">
                    <img src="/images/person.png" alt="background2">
                    
                    </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- primeira tela -->

      <!-- sobre mim -->
      <!-- <section id="sobre-mim">
        <div class="centralizador">
         
          </div>
        
      </section> -->
      <!-- sobre mim -->
       <!-- Projetos -->
       <section id="projetos">
        <!-- <div class="centralizador projetos">
          <h2 class="project">Projetos</h2>
          <div class="projetos-itens">
            <div class="pro">
              <div class="breve"><p>Start</p></div>
            </div>
            <div class="pro">
              <div class="breve"><p>Pro</p></div>
            </div>
            <div class="pro">
              <div class="breve"><p>EXpert</p></div>
            </div>
          </div> -->

          <div class="github-link">
            <button>Ver mais</button>
            <a
              href="https://github.com/palomafcode"
              target="_blank"
              ></a
            >
          </div>
        </div>
      </section>
      <!-- Projetos -->
    <!-- Habilidades -->
    <section id="habilidades">
      <div class="centralizador">
        <div class="habilidades-pd">
          <h2 class="project">Nossos Planos para seu negócio</h2>
          <div class="skills-descricao">
            <div class="conteiner-skills">
                <!-- <img
                  class="icones-habilidades"
                  src="/images/th.jpg"
                  alt="html-icon" -->
                
                <!-- <img
                  class="icones-habilidades"
                  src="/images/logo-css3.jpg"
                  alt="css-icon"
                />
                <img
                  class="icones-habilidades"
                  src="/images/js.png"
                  alt="js-icon"
                /> -->
                <!-- <img
                  class="icones-habilidades"
                  src="/images/GitHub.jpg"
                  alt="github-icon"
                /> -->
                <!-- <img
                  class="icones-habilidades"
                  src="/images/node.jpg"
                  alt="node-icon"
                />
                <img
                  class="icones-habilidades"
                  src="/images/MySQL-logo.jpg"
                  alt="SQL-icon"
                /> -->
              </div>
             
            </div>
           
          </div>
        </div>
      </div>
    </section>
    <!-- Habilidades -->


<!-- <script src="/javascript/scroll.js"></script>
<script src="/javascript/maquina_escrever.js"></script>
<script src="/javascript/habilidades.js"></script> -->
</body>
</html>

</main>

<%- include('partials/footer') %>