<%- include('partials/header') %>

<main>
  
 
  <body onload="typeWriter(fName);">
    <div>
      <!-- menu -->
      <input
        id="close-menu"
        class="close-menu"
        type="checkbox"
        aria-label="close-menu"
        role="button"
      />
      <label
        class="close-menu-label"
        for="close-menu"
        title="close menu"
      ></label>
      <div class="barra">
        <div class="menu-centro">
          <div class="barra-conteiner centralizador">
            <div class="logoesquerda">

         
               
             
            </div>
            <nav class="direita">
              <ul onclick="getElementById('close-menu').checked=false;">
                <li><a href="#inicio">Contato</a></li>
                <li><a href="#sobre-mim">Sobre nós</a></li>
                <li><a href="#projetos">Projetos</a></li>
                <li><a href="#habilidades">Serviços</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <!-- menu -->

      <!-- primeira tela -->
      <section id="inicio">
        <div class="altura-ajuste">
          <div class="inicio centralizador">
            <div class="ajustador organizador">
              <div class="apresentacao">
                <p class="descricao">
                  Somos a BetaPro <br />
                  <span style="display: inline" class="meu-nome"
                    >Vamos tirar aquela ideia do papel ?</span
                  >
                  <br />
                  <!-- Desenvolvedor Full Stack -->
                  <!-- Desenvolvedora Full Stack -->
                </p>
                <br />
                
              </div>
              <div class="desenho">
                <!-- <img
                  class="desenho2"
                  src=""
                  alt="Eu-em-desenho"
                /> -->
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- primeira tela -->

      <!-- sobre mim -->
      <section id="sobre-mim">
        <div class="centralizador">
          <div class="ajustador-2">
            <div class="avatar">
              <img
                class="desenho-bg"
              
                alt="avatar"
              />
              <div class="circulo-conteiner">
             
              </div>
            </div>
            <div class="sobre-mim">
              <h2>Beta Pro</h2>
              <br />
              <p>
               Somos a Beta Pro, soluções para o seu negócio.
               Aqui pensamos, criamos e desenvolvemos .
              </p>
              <br />
              
            </div>
          </div>
        </div>
      </section>
      <!-- sobre mim -->
       <!-- Projetos -->
       <section id="projetos">
        <div class="centralizador projetos">
          <h2 class="project">Nossos Serviços</h2>
          <h3>Desenvolvimento de Sites</h3>
          <div class="projetos-itens">
           
            <div class="pro">
           
              <div class="breve"></div>
             
            </div>
            
            <div class="pro">
          
              <div class="breve"></div>
            </div>
            <div class="pro">
              <div class="breve"></div>
            </div>
            <div class="pro escondido">
              <div class="breve"></div>
            </div>
            <div class="pro escondido">
              <div class="breve"></div>
            </div>
            <div class="pro escondido">
              <div class="breve"></div>
            </div>
          </div>

          <div class="github-link">
            <button>Ver mais</button>
            <a
              href="https://github.com/palomafcode"
              target="_blank"
              >Repositórios no github</a
            >
          </div>
        </div>
      </section>
      <!-- Projetos -->
    <!-- Habilidades -->
    <section id="habilidades">
      <div class="centralizador">
        <div class="habilidades-pd">
          <h2 class="project">Fale Conosco</h2>
          <div class="skills-descricao">
            <div class="conteiner-skills">
               
              
              
               
               
              </div>
             
            </div>
           
          </div>
        </div>
      </div>
    </section>
    <!-- Habilidades -->


<script src="/javascript/scroll.js"></script>
<script src="/javascript/maquina_escrever.js"></script>
<script src="/javascript/habilidades.js"></script>
</body>
</html>

</main>

<%- include('partials/footer') %>