<%- include('partials/header') %>
    <link rel="stylesheet" href="/stylesheets/home.css">

    <main>
<div class="letrasprincipais">
  <h2>
    We Are A </h2><h3>Creative
    Digital marketing</h3>
   <h5>Agency</h5>
    </div>
        <div class="banner">
            <h2>Don't Reply On Gut Feeling To Make Decisions Which Can
              Be Costly Mistakes. </h2>

              <p>
                Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,graphic or web designs. The passage is attributed
                 to an unknown typesetter in the 15th The purpose of lorem ipsum is to create a natural looking block of text (sentence, paragraph
                  page, etc.) that doesn't distract from the layout. A practice not without controversy, laying out pages with meaningless filler 
                  text can be very useful when the focus is meant to be on design, not content.
              </p>
            </div>


        <section>
            <div class="lancamento">
                <h5 class="title">DESENVOLVIMENTO</h5>
              <img src="/images/desenvolvimento.jpg" alt="" >
               
            </div>
        </section>

        <section class="destaque">
            <h4>GESTÃO DE REDES</h4><br>
            <nav>
                <div class="grid">
                    <button class="comprar" id="destaque-comprar"><a href="#">Contato</a></button>
                    <!-- <div>
                        <a href=""><img id="grid-1" src="/images/gestaodetrafego.jpg" alt=""></a>
                    </div> -->
                    <div>
                       
                        <div>
                            <a href=""><img id="grid-3" src="/images/desenvolvimento" alt=""></a>
                        </div>
                    </div>
                    <!-- <div>
                        <a href=""><img id="grid-4" src="/images/produtos/destaque-3.png" alt=""></a>
                    </div> -->
                </div>
            </nav>
        </section>

        <section>
            <div class="continue-vendo">
                <h5 class="title">MAIS SERVIÇOS</h5>

                <div class="carrousel" id="carrousel2">
                
                </div>
                <button id="prev2" class="arrow-left"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-caret-left-fill" viewBox="-2 -2 20 20">
                        <path
                            d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                    </svg></button>
                <button id="next2" class="arrow-right control"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                        height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path
                            d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                    </svg></button>
            </div>
        </section>

    </main>

    <%- include('partials/footer') %>