<%- include('partials/header') %>

<main>
  <div class="background1">
     <img src="/images/background1.png" alt="background1">
    </div>
  <body onload="typeWriter(fName);">
    <div>
      <!-- menu -->
      <input
        id="close-menu"
        class="close-menu"
        type="checkbox"
        aria-label="close-menu"
        role="button"
      />
      <label
        class="close-menu-label"
        for="close-menu"
        title="close menu"
      ></label>
      <div class="barra">
        <div class="menu-centro">
          <div class="barra-conteiner centralizador">
            <div class="logoesquerda">

            <img src="/images/Coluna - Logo.png" alt="logo">
               
             
            </div>
            <nav class="direita">
              <ul onclick="getElementById('close-menu').checked=false;">
                <div class=" barrainicio">
                <li><a href="#inicio">Sobre Nós</a></li>
                <li><a href="#sobre-mim">Serviços</a></li>
                <li><a href="#projetos">Cases</a></li>
                <li><a href="#habilidades">#vemprabeta</a></li>
            </div>
              </ul>
              <div class="faleconosco">
              <button>fale conosco</button>
            </div>
            </nav>
          </div>
        </div>
      </div>
      <!-- menu -->

      <!-- primeira tela -->
      <section id="inicio">
        <div class="altura-ajuste">
          <div class="inicio centralizador">
            <div class="ajustador organizador">
              <div class="apresentacao">
              <div class="oportunidades">
                <h4>Transformando ações </h4>
                    <h5>em oportunidades</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                         elit, sed do eiusmod tempor incididunt ut
                          labore et dolore magna aliqua.Ut enim 
                          ad minim veniam, quis nostrudexercitation.</p>
              </div>
              <div class="notebooks">
              <img src="/images/Coluna - imagens.png" alt="notebooks">
            </div>
                <div class="linkedin">
                    
                  <a
                    href="https://www.linkedin.com/in/paloma-franco-villas-boas-2382a696/"
                    target="_blank"
                    class="link"
                    >Saiba mais</a
                  >
                </div>
              </div>
              <div class="background2">
                <img src="/images/background2.png" alt="background2">
              </div>
                <!-- <div class="ajustador-2">
                    <img src="/images/person.png" alt="person">
                    
                    </div> -->
              
            </div>
          </div>
        </div>
      </section>
      <!-- primeira tela -->

      <!-- sobre mim -->
      <section id="sobre-mim">
        <div class="centralizador">
         
          </div>
        
      </section>
      </div>
      </body>
      </main>
      

          