<%- include('partials/header') %>

<main>
  <div class="background1">
     <img src="/images/background1.png" alt="background1">
    </div>
  <body onload="typeWriter(fName);">
    <div>
      <!-- menu -->
      <input
        id="close-menu"
        class="close-menu"
        type="checkbox"
        aria-label="close-menu"
        role="button"
      />
      <label
        class="close-menu-label"
        for="close-menu"
        title="close menu"
      ></label>
      <div class="barra">
        <div class="menu-centro">
          <div class="barra-conteiner centralizador">
            <div class="logoesquerda">

            <img src="/images/Coluna - Logo.png" alt="logo">
               
             
            </div>
            <nav class="direita">
              <ul onclick="getElementById('close-menu').checked=false;">
                <div class=" barrainicio">
                <li><a href="#inicio">Sobre Nós</a></li>
                <li><a href="#sobre-mim">Serviços</a></li>
                <li><a href="#projetos">Cases</a></li>
                <li><a href="#habilidades">#vemprabeta</a></li>
            </div>
              </ul>
              <div class="faleconosco">
              <button>fale conosco</button>
            </div>
            </nav>
          </div>
        </div>
      </div>
      <!-- menu -->

      <!-- primeira tela -->
      <section id="inicio">
        <div class="altura-ajuste">
          <div class="inicio centralizador">
            <div class="ajustador organizador">
              <div class="apresentacao">
              <div class="oportunidades">
                <h4>Do beta ao alfa</h4>
                    <h5>estamos sempre um passo à frente!</h5>
                    <p>Oferecemos soluções personalizadas, desde a
                       concepção do projeto até o lançamento e manutenção do produto,
                        garantindo que cada etapa do processo seja cuidadosamente
                         planejada e executada com excelência.</p>
              </div>
              <div class="notebooks">
              <img src="/images/Coluna - imagens.png" alt="notebooks">
            </div>
                <div class="linkedin">
                    
                  <a
                    href="https://www.linkedin.com/in/paloma-franco-villas-boas-2382a696/"
                    target="_blank"
                    class="link"
                    >Saiba mais</a
                  >
                </div>
              </div>
              
              <div class="background2">
                <img src="/images/background2.png" alt="background2">
          
              <div class="imagens">
                <img class="planta1"   src="/images/planta.png" alt="planta1">
                <img class="mesa" src="/images/Mesa.png" alt="mesa">
                <img class="grafico" src="/images/Notebook.png" alt="grafico">
                <img class="prateleira" src="/images/prateleira.png" alt="prateleira">
                <img class="person" src="/images/person.png" alt="person">
                <!-- <img class="planta2" src="/images/planta2.png" alt="planta2"> -->
              </div>
                </div> 
            </div>
          </div>
        </div>
        
        <div class="background3">
          <img src="/images/background3.png" alt="background3">
        </div>
        
      
      </section>
     
      
   
      <div class="video">
      
        <img src="/images/video.png" alt="video">
        </div>
        <section id="projetos">
         
          <div class="centralizador projetos">
            <h2 class="project">Projetos</h2>
            <div class="nossosplanos">
            <h6>Nossos planos para seu negócio</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Euismod egestas odio sapien dis massa massa massa. 
              Accumsan, cras tristique adipiscing consectetur. Laoreet ante quisque in nulla eleifend neque sed rutrum donec.</p>
            </div>
            <div class="projetos-itens">
              <div class="pro2">
                <h4>R$19,00/ mês</h4>
                <h2>Start</h2>
                <h6>Recursos Start</h6>
                <li>Manutenção básica do site </li>
                <li>Gerenciamento das redes </li>
                <li>Tráfego Pago - Básico </li>
             
              </div>
              <div class="pro1">
                <h4>R$30,00/ mês</h4>
                <h2>Pro</h2>
                <h6>Recursos Pro</h6>
                <li>Manutenção básica do site </li>
                <li>Manutenção básica do site </li>
            
              </div>
              <div class="pro3">
                <h4>R$40,00/ mês</h4>
               
                  <h2>Expert</h2>
                  <h6>Recursos </h6>
                  <li>Manutenção básica do site </li>
                  <li>Manutenção básica do site </li>
                  
             
            <!-- <h9> Nossos clientes</h9> -->
        </div>
        </div>
        </section>
        </div>
      </div>
      </body>
      </main>
      <%- include('partials/footer') %>

          